<center><h1>数据库概论第一次实习作业</center></h1>

### 基本数据库准备

In [1]:
%load_ext sql

import pymysql
pymysql.install_as_MySQLdb()

# db = pymysql.connect(
#     host="162.105.146.37",
#     user="stu2200010825",
#     password="stu2200010825",
#     port=53306,
#     db="stu2200010825",
# )
# cursor = db.cursor()

# %sql mysql://stu2200010825:stu2200010825@162.105.146.37:53306
# %sql use stu2200010825;

# Test on local machine
########## NOTICE: CHANGE THE URL IN data_helper.py AS WELL!! ##########
db = pymysql.connect(
    host="127.0.0.1",
    user="practice",
    password="123456",
    port=3306,
    db="practice1",
)
cursor = db.cursor()
db.commit()
%sql mysql://practice:123456@127.0.0.1:3306
%sql use practice1;

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.

[]

### 清理先前的数据，建立新的数据库

In [2]:
%%sql
/* Clean the database */

# drop the tables in a correct order to avoid foreign key constraints.
drop table if exists Checkpoint;
drop table if exists Submission;
drop table if exists IOPair;
drop table if exists Comment;
drop table if exists Post;
drop table if exists Problem;
drop table if exists User;

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [3]:
%%sql
/* Rebuid the database */

# The user table stores the information of users.
create table if not exists User (
    id          int primary key auto_increment,
    username    varchar(255) not null, 
    password    varchar(255) not null, 
    grade       enum('beginner', 'intermediate', 'advanced', 'expert') default 'beginner'
);

# Problems in the system.
create table if not exists Problem (
    id              int primary key auto_increment, 
    title           varchar(255) not null, 
    author_id       int, 
    handin_time     timestamp default current_timestamp,
    description     text not null, 
    difficulty      enum('easy', 'medium', 'hard') not null, 
    time_limit      int not null default 1000, # ms
    memory_limit    int not null default 128, # MB
    # Do not delete the problem when the author is deleted.
    foreign key (author_id) references User (id) on delete set null 
);

# A submission from a user to a problem.
create table if not exists Submission (
    id              int primary key auto_increment,
    problem_id      int not null,
    user_id         int,
    submit_time     timestamp default current_timestamp, 
    code            text not null, 
    language        enum('C/C++', 'Java', 'Python') not null,
    status          enum('passed', 'failed') default null,
    score           int default 0,
    foreign key (problem_id) references Problem (id) on delete cascade,
    foreign key (user_id) references User (id) on delete set null
);

# Input and output pairs of a problem.
create table if not exists IOPair (
    id          int primary key auto_increment,
    problem_id  int not null,
    input       text not null,
    output      text not null,
    score       int not null,
    type        enum('sample', 'test') not null default 'test',
    # Notice: If the IO pair is a sample, the score doesn't matter.
    foreign key (problem_id) references Problem (id) on delete cascade
);

# A checkpoint is a submission from user on specific IO pair.
create table if not exists Checkpoint (
    id              int primary key auto_increment,
    iopair_id       int not null,
    submission_id   int not null,
    status          enum('P', 'AC', 'WA', 'TLE', 'MLE', 'RE', 'CE') not null default 'P',
    time_usage      int,
    memory_usage    int,
    info            text,
    score           int default 0,
    foreign key (iopair_id) references IOPair (id) on delete cascade,
    foreign key (submission_id) references Submission (id) on delete cascade
);

# A post is a message from a user commit under a problem.
create table if not exists Post
(
    id          int primary key auto_increment,
    title       varchar(255) not null,
    author_id   int,
    content     text         not null,
    create_time timestamp default current_timestamp,
    problem_id  int,
    foreign key (author_id) references User (id) on delete set null,
    foreign key (problem_id) references Problem (id) on delete set null
);

# A comment is a message from a user commit under a post.
create table if not exists Comment
(
    id          int primary key auto_increment,
    post_id     int,
    author_id   int,
    content     text not null,
    create_time timestamp default current_timestamp,
    foreign key (post_id) references Post (id) on delete cascade,
    foreign key (author_id) references User (id) on delete set null
);

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### 创建用户和问题
这里提供了一个简单的测试问题：计算两个整数之和

In [4]:
%%sql
/* Generate test data */

# User
insert into User (username, password)
values ('Admin', '123456');
insert into User (username, password)
values ('Alice', 'alice20050825');
insert into User (username, password)
values ('Bob', 'IDontCarePassword');

# Problem
insert into Problem (title, author_ID, description, difficulty, time_limit, memory_limit)
values ('A+B Problem', 1, '计算两整数之和。', 'easy', 1000, 256);
insert into IOPair (problem_id, input, output, score, type) 
values (1, '1 2', '3', 0, 'sample');

insert into IOPair (problem_id, input, output, score, type)
values (1, '0 0', '0', 10, 'test');
insert into IOPair (problem_id, input, output, score, type)
values (1, '-156 -1213', '-1369', 40, 'test');
insert into IOPair (problem_id, input, output, score, type)
values (1, '6165481 84615613', '90781094', 50, 'test');

# Post
insert into Post (title, author_id, content, problem_id)
values ('A+B Problem的Python解答', 1, '很简单的问题，Python代码如下：
```python
a, b = map(int, input().split())
print(a + b)
```
', 1);
insert into Post (title, author_id, content, problem_id)
values ('Java方法', 1, '我用Java写的。Java的输入必须要新建一个Scanner对象
```java
import java.util.Scanner;
public class Main {
    public static void main(String[] args) {
        Scanner sc = new Scanner(System.in);
        int a = sc.nextint();
        int b = sc.nextInt();
        System.out.println(a + b);
    }
}
```
', 1);

# Comment
insert into Comment (post_id, author_id, content)
values (1, 2, "tql！第一次学会了用Python写程序，我之前写的都是C++不知道Python怎么转换类型");
insert into Comment (post_id, author_id, content)
values (1, 3, "我只是路过的，因为我还有数据库实习作业要写");
insert into Comment (post_id, author_id, content)
values (2, 3, "楼主有笔误啊，是`int a = sc.nextInt();`而不是`nextint();`");

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
select * from User;

 * mysql://practice:***@127.0.0.1:3306
3 rows affected.

[(1, 'Admin', '123456', 'beginner'),
 (2, 'Alice', 'alice20050825', 'beginner'),
 (3, 'Bob', 'IDontCarePassword', 'beginner')]

In [6]:
%%sql
select * from Problem;

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.

[(1, 'A+B Problem', 1, datetime.datetime(2024, 4, 9, 9, 45, 30), '计算两整数之和。', 'easy', 1000, 256)]

In [7]:
%%sql
select * from IOPair;

 * mysql://practice:***@127.0.0.1:3306
4 rows affected.

[(1, 1, '1 2', '3', 0, 'sample'),
 (2, 1, '0 0', '0', 10, 'test'),
 (3, 1, '-156 -1213', '-1369', 40, 'test'),
 (4, 1, '6165481 84615613', '90781094', 50, 'test')]

### 对用户上传的代码进行评测

这是本次实习的核心函数。主要步骤：
- 从数据库中获取用户的提交内容
- 从数据库中获取问题的时间空间限制和测试用例
- 评测用户代码
- 把测评结果写回数据库

In [8]:
from utils.code_checker import Code_Checker
from utils.data_helper import *


def submit_code(submission_id):
    """Let a user submit a code to a problem. The code will be tested by the checker."""
    # Get the submission info
    sql = f"select * from Submission where id = {submission_id};"
    cursor.execute(sql)
    submission = fetch_cursor(cursor)[0]
    problem_id, code, language = (
        submission["problem_id"],
        submission["code"],
        submission["language"],
    )

    # Get the problem info
    sql = f"select * from Problem where id = {problem_id};"
    cursor.execute(sql)
    problem = fetch_cursor(cursor)[0]
    time_limit, memory_limit = problem["time_limit"], problem["memory_limit"]

    # Get the IO pairs to test
    sql = f"select * from IOPair where problem_id = {problem_id};"
    cursor.execute(sql)
    io_pairs = fetch_cursor(cursor)

    question_status = "passed"
    question_score = 0
    for io_pair in io_pairs:
        # Get the IO info
        input_data, expected_output, score, io_type = (
            io_pair["input"],
            io_pair["output"],
            io_pair["score"],
            io_pair["type"],
        )
        if io_type == "sample":
            continue
        # Test the code
        checker = Code_Checker()
        checker.set_io(code, language, input_data, expected_output, submission_id)
        checker.set_limit(time_limit, memory_limit)
        status, info, used_time, used_memory = checker.test()
        if status != "AC":
            question_status = "failed"
            score = 0
        question_score += score
        # insert a new Checkpoint
        sql = (
            f"insert into Checkpoint (iopair_id, submission_id, status, info, time_usage, memory_usage, score) "
            f"values ({io_pair['id']}, {submission_id}, '{status}', '{info}', {used_time}, {used_memory}, {score});"
        )
        cursor.execute(sql)

    # Update the submission
    sql = f"update Submission set status = '{question_status}', score = {question_score} where id = {submission_id};"
    cursor.execute(sql)
    db.commit()

### 测试效果
现在让用户上传一份代码
```py
a,b=map(int,input().split())
print(a+b)
```
应当通过。另一份代码写成乘法了，应当产生结果错误，但依然能碰巧通过一个测试点。

In [9]:
%%sql
insert into Submission (problem_id, user_id, code, language) 
VALUES(1,2,"a,b=map(int,input().split())\nprint(a+b)",'Python'); # AC
insert into Submission (problem_id, user_id, code, language)
VALUES(1,2,"a,b=map(int,input().split())\nprint(a*b)",'Python'); # WA

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.
1 rows affected.

[]

In [10]:
submit_code(1)
submit_code(2)

In [11]:
%%sql
select * from Checkpoint;

 * mysql://practice:***@127.0.0.1:3306
6 rows affected.

[(1, 2, 1, 'AC', 64, 4220, 'Answer Accepted', 10),
 (2, 3, 1, 'AC', 58, 4216, 'Answer Accepted', 40),
 (3, 4, 1, 'AC', 59, 4216, 'Answer Accepted', 50),
 (4, 2, 2, 'AC', 50, 4220, 'Answer Accepted', 10),
 (5, 3, 2, 'WA', 42, 4216, 'Line 1 Column 0: expected -..., but got 1.', 0),
 (6, 4, 2, 'WA', 54, 4220, 'Line 1 Column 0: expected 9..., but got 5.', 0)]

In [12]:
%%sql
select * from Submission;

 * mysql://practice:***@127.0.0.1:3306
2 rows affected.

[(1, 1, 2, datetime.datetime(2024, 4, 9, 9, 45, 31), 'a,b=map(int,input().split())\nprint(a+b)', 'Python', 'passed', 100),
 (2, 1, 2, datetime.datetime(2024, 4, 9, 9, 45, 31), 'a,b=map(int,input().split())\nprint(a*b)', 'Python', 'failed', 10)]

现在进行一些数据库的查询，为避免大段代码插入数据，选择从CSV读取，然后将其插入到数据库中

In [13]:
csv2sql("data/user.csv", "user")  # see the function in data_helper.py
csv2sql("data/problem.csv", "problem")
csv2sql_IOpair("data/iopair.csv", "iopair")
csv2sql_submission("data/submission.csv", "submission")

sql = "select count(*) from Submission;"
cursor.execute(sql)
submission_num = cursor.fetchone()[0]

# MAY COST A LONG TIME
for i in range(3, submission_num):
    print("testing submission", i, "...")
    submit_code(i)

testing submission 3 ...
testing submission 4 ...
testing submission 5 ...
testing submission 6 ...
testing submission 7 ...
testing submission 8 ...
testing submission 9 ...
testing submission 10 ...
testing submission 11 ...
testing submission 12 ...
testing submission 13 ...
testing submission 14 ...
testing submission 15 ...
testing submission 16 ...

In [14]:
%%sql
select * from IOPair

 * mysql://practice:***@127.0.0.1:3306
11 rows affected.

[(1, 1, '1 2', '3', 0, 'sample'),
 (2, 1, '0 0', '0', 10, 'test'),
 (3, 1, '-156 -1213', '-1369', 40, 'test'),
 (4, 1, '6165481 84615613', '90781094', 50, 'test'),
 (5, 2, '1', '2', 10, 'test'),
 (6, 2, '10', '12367', 90, 'test'),
 (7, 3, '4 1\n1 1 2 3', '3', 40, 'test'),
 (8, 3, '10 2\n9 9 7 5 6 4 3 5 1 5', '10', 60, 'test'),
 (9, 4, '12\n68 69 54 64 68 64 70 67 78 62 98 87', '4 2', 100, 'test'),
 (10, 5, '12', '6', 30, 'test'),
 (11, 5, '1000', '2', 70, 'test')]

In [15]:
%%sql
select * from Submission
limit 6;

 * mysql://practice:***@127.0.0.1:3306
6 rows affected.

[(1, 1, 2, datetime.datetime(2024, 4, 9, 9, 45, 31), 'a,b=map(int,input().split())\nprint(a+b)', 'Python', 'passed', 100),
 (2, 1, 2, datetime.datetime(2024, 4, 9, 9, 45, 31), 'a,b=map(int,input().split())\nprint(a*b)', 'Python', 'failed', 10),
 (3, 1, 4, datetime.datetime(2018, 1, 1, 0, 0), 'print("Hello, World!")', 'Python', 'failed', 0),
 (4, 2, 2, datetime.datetime(2018, 1, 1, 0, 0), '#include <bits/stdc++.h>\nusing namespace std;\n\nint main()\n{\n    int k = 0;\n    cin >> k;\n    double sum = 0;\n    int i = 0;\n    while (sum <= k)\n    {\n        i += 1;\n        sum += double(1) / double(i);\n    }\n    cout << i << endl;\n    return 0;\n}', 'C/C++', 'passed', 100),
 (5, 2, 3, datetime.datetime(2018, 1, 1, 0, 0), 'k = int(input())\nans = 0.0\ni = 0\nwhile ans <= k:\n    i += 1\n    ans += 1 / i\n\nprint(i)\n', 'Python', 'passed', 100),
 (6, 2, 3, datetime.datetime(2018, 1, 1, 0, 0), 'import java.util.Scanner;\npublic class Main {\n    public static void main(String[] args) {\n        int k, n = 2;\n        double s = 1;\n        S ... (26 characters truncated) ... stem.in);\n        k = sc.nextInt();\n        for (; s <= k; n++) {\n            s += 1.0 / n;\n        }\n        System.out.println(n-1);\n    }\n}', 'Java', 'passed', 100)]

### 一些简单的查询
查询问题的所有提交

In [16]:
%%sql

#TODO: Wrong code here, waiting for debug

select distinct IOPair.problem_id, C.submission_id
from IOPair
join Checkpoint C on IOPair.id = C.iopair_id
where submission_id not in (
    select submission_id
    from Checkpoint
    where status != 'AC'
);

 * mysql://practice:***@127.0.0.1:3306
7 rows affected.

[(1, 1), (2, 4), (2, 5), (2, 6), (3, 11), (5, 15), (5, 16)]

查询用户所有的通过题目的提交

In [17]:
%%sql

select distinct user_id, problem_id, id as submission_id
from Submission
where Submission.status = 'passed'

 * mysql://practice:***@127.0.0.1:3306
7 rows affected.

[(2, 1, 1),
 (2, 2, 4),
 (3, 2, 5),
 (3, 2, 6),
 (3, 3, 11),
 (4, 5, 15),
 (3, 5, 16)]

查询最热门的题目

In [18]:
%%sql

#TODO: Wrong code here, waiting for debug

select distinct problem_id as hot_problem_id
from Submission S
where not exists(
    select *
    from Submission Sub
    where Sub.problem_id = S.problem_id and Sub.submit_time > S.submit_time
);

 * mysql://practice:***@127.0.0.1:3306
5 rows affected.

[(1,), (2,), (3,), (4,), (5,)]

查询通过率（AC数/提交数）最高的用户

In [19]:
%%sql
-- TODO, returns * from user
select User.*
from User
join Submission on User.id = Submission.user_id
group by User.id
order by COUNT(
    case
        when Submission.status = 'passed' then 1
    end
) * 1.0 / COUNT(*) desc
limit 1;

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.

[(3, 'Bob', 'IDontCarePassword', 'beginner')]

按照评论数排序某一道题下的热门评论，这里以第一题为例

In [20]:
%%sql

set @problem_id = 1; # The problem id you want to query.
select Post.id, Post.content, comment_count
from Post join (select post_id, count(*) as comment_count
               from Comment
               group by post_id) C on Post.id = C.post_id
where Post.problem_id = @problem_id
union all
select Post.id, Post.content, 0 as comment_count
from Post
where Post.problem_id = @problem_id
  and Post.id not in (select post_id
                      from Comment);

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.
2 rows affected.

[(1, '很简单的问题，Python代码如下：\n```python\na, b = map(int, input().split())\nprint(a + b)\n```\n', 2),
 (2, '我用Java写的。Java的输入必须要新建一个Scanner对象\n```java\nimport java.util.Scanner;\npublic class Main {\n    public static void main(String[] args) {\n        Scanner sc = new Scanner(System.in);\n        int a = sc.nextint();\n        int b = sc.nextInt();\n        System.out.println(a + b);\n    }\n}\n```\n', 1)]

找出评论数最多的用户

In [21]:
%%sql

select distinct author_id as most_comment_user
from Post P
where not exists(select *
                 from Post P2
                 where P2.author_id = P.author_id
                   and P2.create_time > P.create_time);

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.

[(1,)]