<center><h1>数据库概论第一次实习作业</center></h1>

### 基本数据库准备

In [27]:
%load_ext sql

import pymysql
pymysql.install_as_MySQLdb()

# db = pymysql.connect(
#     host="162.105.146.37",
#     user="stu2200010825",
#     password="stu2200010825",
#     port=53306,
#     db="stu2200010825",
# )
# cursor = db.cursor()

# %sql mysql://stu2200010825:stu2200010825@162.105.146.37:53306
# %sql use stu2200010825;

# Test on local machine
db = pymysql.connect(
    host="127.0.0.1",
    user="practice",
    password="123456",
    port=3306,
    db="practice1",
)
cursor = db.cursor()
db.commit()
%sql mysql://practice:123456@127.0.0.1:3306
%sql use practice1;

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * mysql://practice:***@127.0.0.1:3306
0 rows affected.

[]

### 清理先前的数据，建立新的数据库

In [28]:
%%sql
/* Clean the database */

# Drop the tables in a correct order to avoid foreign key constraints.
DROP TABLE IF EXISTS Checkpoint;
DROP TABLE IF EXISTS Submission;
DROP TABLE IF EXISTS IOPair;
DROP TABLE IF EXISTS Problem;
DROP TABLE IF EXISTS User;

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [29]:
%%sql
/* Rebuid the database */

# The user table stores the information of users.
CREATE TABLE IF NOT EXISTS User (
    id INT PRIMARY KEY AUTO_INCREMENT,
    username VARCHAR(255) NOT NULL, 
    password VARCHAR(255) NOT NULL, 
    grade ENUM('beginner', 'intermediate', 'advanced', 'expert') DEFAULT 'beginner'
);

# Problems in the system.
CREATE TABLE IF NOT EXISTS Problem (
    id INT PRIMARY KEY AUTO_INCREMENT, 
    title VARCHAR(255) NOT NULL, 
    author_id INT, 
    handin_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    description TEXT NOT NULL, 
    difficulty ENUM('easy', 'medium', 'hard') NOT NULL, 
    time_limit INT NOT NULL DEFAULT 1000, 
    memory_limit INT NOT NULL DEFAULT 256, 
    # Do not delete the problem when the author is deleted.
    FOREIGN KEY (author_id) REFERENCES User (id) ON DELETE SET NULL 
);

# A submission from a user to a problem.
CREATE TABLE IF NOT EXISTS Submission (
    id INT PRIMARY KEY AUTO_INCREMENT,
    problem_id INT NOT NULL,
    user_id INT,
    submit_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP, 
    code TEXT NOT NULL, 
    language ENUM('C/C++', 'Java', 'Python') NOT NULL,
    status ENUM('pending', 'passed', 'failed') NOT NULL DEFAULT 'pending',
    score INT DEFAULT 0,
    FOREIGN KEY (problem_id) REFERENCES Problem (id) ON DELETE CASCADE,
    FOREIGN KEY (user_id) REFERENCES User (id) ON DELETE SET NULL
);

# Input and output pairs of a problem.
CREATE TABLE IF NOT EXISTS IOPair (
    id INT PRIMARY KEY AUTO_INCREMENT,
    problem_id INT NOT NULL,
    input TEXT NOT NULL,
    output TEXT NOT NULL,
    score INT NOT NULL,
    type ENUM('sample', 'test') NOT NULL DEFAULT 'test',
    # Notice: If the IO pair is a sample, the score doesn't matter.
    FOREIGN KEY (problem_id) REFERENCES Problem (id) ON DELETE CASCADE
);

# A checkpoint is a submission from user on specific IO pair.
CREATE TABLE IF NOT EXISTS Checkpoint (
    id INT PRIMARY KEY AUTO_INCREMENT,
    iopair_id INT NOT NULL,
    submission_id INT NOT NULL,
    status ENUM('P', 'AC', 'WA', 'TLE', 'MLE', 'RE') NOT NULL DEFAULT 'P',
    time_usage INT,
    memory_usage INT,
    info TEXT,
    score INT DEFAULT 0,
    FOREIGN KEY (iopair_id) REFERENCES IOPair (id) ON DELETE CASCADE,
    FOREIGN KEY (submission_id) REFERENCES Submission (id) ON DELETE CASCADE
);

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### 创建用户和问题
这里提供了一个简单的测试问题：计算两个整数之和

In [30]:
%%sql
/* Generate test data */

# User
INSERT INTO User (username, password)
VALUES ('Admin', '123456');
INSERT INTO User (username, password)
VALUES ('Alice', 'alice20050825');
INSERT INTO User (username, password)
VALUES ('Bob', '*D/$5^F3');

# Problem
INSERT INTO Problem (title, author_ID, description, difficulty, time_limit, memory_limit)
VALUES ('A+B Problem', 1, 'Calculate the sum of two integers.', 'easy', 1000, 256);
INSERT INTO IOPair (problem_id, input, output, score, type) 
VALUES (1, '1 2', '3', 0, 'sample');

INSERT INTO IOPair (problem_id, input, output, score, type)
VALUES (1, '0 0', '0', 10, 'test');
INSERT INTO IOPair (problem_id, input, output, score, type)
VALUES (1, '-156 -1213', '-1369', 40, 'test');
INSERT INTO IOPair (problem_id, input, output, score, type)
VALUES (1, '6165481 84615613', '90781094', 50, 'test');

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [31]:
%%sql
SELECT * FROM User;

 * mysql://practice:***@127.0.0.1:3306
3 rows affected.

[(1, 'Admin', '123456', 'beginner'),
 (2, 'Alice', 'alice20050825', 'beginner'),
 (3, 'Bob', '*D/$5^F3', 'beginner')]

In [32]:
%%sql
SELECT * FROM Problem;

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.

[(1, 'A+B Problem', 1, datetime.datetime(2024, 4, 8, 19, 44, 45), 'Calculate the sum of two integers.', 'easy', 1000, 256)]

In [33]:
%%sql
SELECT * FROM IOPair;

 * mysql://practice:***@127.0.0.1:3306
4 rows affected.

[(1, 1, '1 2', '3', 0, 'sample'),
 (2, 1, '0 0', '0', 10, 'test'),
 (3, 1, '-156 -1213', '-1369', 40, 'test'),
 (4, 1, '6165481 84615613', '90781094', 50, 'test')]

### 对用户上传的代码进行评测

这是本次实习的核心函数。主要步骤：
- 从数据库中获取用户的提交内容
- 从数据库中获取问题的时间空间限制和测试用例
- 评测用户代码
- 把测评结果写回数据库

In [34]:
from utils.code_checker import Code_Checker
from utils.data_helper import *


def submit_code(submission_id):
    """Let a user submit a code to a problem. The code will be tested by the checker."""
    # Get the submission info
    sql = f"SELECT * FROM Submission WHERE id = {submission_id};"
    cursor.execute(sql)
    submission = fetch_cursor(cursor)[0] 
    problem_id, code, language = (
        submission["problem_id"],
        submission["code"],
        submission["language"],
    )

    # Get the problem info
    sql = f"SELECT * FROM Problem WHERE id = {problem_id};"
    cursor.execute(sql)
    problem = fetch_cursor(cursor)[0]
    time_limit, memory_limit = problem["time_limit"], problem["memory_limit"]

    # Get the IO pairs to test
    sql = f"SELECT * FROM IOPair WHERE problem_id = {problem_id};"
    cursor.execute(sql)
    iopairs = fetch_cursor(cursor)

    question_status = "passed"
    question_score = 0
    for iopair in iopairs:
        # Get the IO info
        input_data, expected_output, score, iotype = (
            iopair["input"],
            iopair["output"],
            iopair["score"],
            iopair["type"],
        )
        if iotype == "sample":
            continue
        # Test the code
        checker = Code_Checker()
        checker.set_io(code, language, input_data, expected_output, submission_id)
        checker.set_limit(time_limit, memory_limit)
        status, info, used_time, used_memory = checker.test()
        if status != "AC":
            question_status = "failed"
            score = 0
        question_score += score
        # Insert a new Checkpoint
        sql = f"INSERT INTO Checkpoint (iopair_id, submission_id, status, info, time_usage, memory_usage, score) VALUES ({iopair['id']}, {submission_id}, '{status}', '{info}', {used_time}, {used_memory}, {score});"
        cursor.execute(sql)

    # Update the submission
    sql = f"UPDATE Submission SET status = '{question_status}', score = {question_score} WHERE id = {submission_id};"
    cursor.execute(sql)
    db.commit()

### 测试效果
现在让用户上传一份代码
```py
a,b=map(int,input().split())
print(a+b)
```
应当通过。另一份代码写成乘法了，应当产生结果错误，但依然能碰巧通过一个测试点。

In [35]:
%%sql
INSERT INTO Submission (problem_id, user_id, code, language) 
VALUES(1,2,"a,b=map(int,input().split())\nprint(a+b)",'Python'); # AC
INSERT INTO Submission (problem_id, user_id, code, language) 
VALUES(1,2,"a,b=map(int,input().split())\nprint(a*b)",'Python'); # WA

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.
1 rows affected.

[]

In [36]:
submit_code(1)
submit_code(2)

-1369 189228 Line 1 Column 0: expected -..., but got 1.
90781094 521695954254853 Line 1 Column 0: expected 9..., but got 5.

In [37]:
%%sql
SELECT * FROM Checkpoint;

 * mysql://practice:***@127.0.0.1:3306
6 rows affected.

[(1, 2, 1, 'AC', 238, 4712, 'Answer Accepted', 10),
 (2, 3, 1, 'AC', 135, 4708, 'Answer Accepted', 40),
 (3, 4, 1, 'AC', 186, 4708, 'Answer Accepted', 50),
 (4, 2, 2, 'AC', 178, 4708, 'Answer Accepted', 10),
 (5, 3, 2, 'WA', 176, 5008, 'Line 1 Column 0: expected -..., but got 1.', 0),
 (6, 4, 2, 'WA', 212, 4712, 'Line 1 Column 0: expected 9..., but got 5.', 0)]

In [38]:
%%sql
SELECT * FROM Submission;

 * mysql://practice:***@127.0.0.1:3306
2 rows affected.

[(1, 1, 2, datetime.datetime(2024, 4, 8, 19, 44, 45), 'a,b=map(int,input().split())\nprint(a+b)', 'Python', 'passed', 100),
 (2, 1, 2, datetime.datetime(2024, 4, 8, 19, 44, 45), 'a,b=map(int,input().split())\nprint(a*b)', 'Python', 'failed', 10)]

### 一些简单的查询
查询问题的所有提交

In [39]:
%%sql
-- TODO, returns (problem_id, submission_id)

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.

[]

查询用户所有的通过题目

In [45]:
%%sql
-- TODO, returns (problem_id, submission_id, iopair_id)
SELECT DISTINCT Submission.problem_id, Submission.id as submission_id, IOpair.id as iopair_id
FROM Submission
JOIN IOPair ON  Submission.problem_id = IOPair.problem_id
WHERE Submission.status = 'passed'
AND IOpair.type = 'test'
AND Submission.user_id = 2; # Alice

 * mysql://practice:***@127.0.0.1:3306
3 rows affected.

[(1, 1, 2), (1, 1, 3), (1, 1, 4)]

查询最热门的题目

In [41]:
%%sql
-- TODO, returns * from problem

 * mysql://practice:***@127.0.0.1:3306
0 rows affected.

[]

查询通过率（AC数/提交数）最高的用户

In [49]:
%%sql
-- TODO, returns * from user
SELECT User.*
FROM User
JOIN Submission ON User.id = Submission.user_id
GROUP BY User.id
ORDER BY COUNT(
    CASE
        WHEN Submission.status = 'passed' THEN 1
    END
) * 1.0 / COUNT(*) DESC
LIMIT 1;

 * mysql://practice:***@127.0.0.1:3306
1 rows affected.

[(2, 'Alice', 'alice20050825', 'beginner')]