<center><h1>使用python的pymysql操作mysql示例</center></h1>

In [2]:
import pymysql

# 这里需要将(user,password,db)中的“XXXXXX”替换成自己的学号,否则连的不是自己的数据库
db = pymysql.connect(
    host="162.105.146.37",
    user="stu2200010825",
    password="stu2200010825",
    port=53306,
    db="stu2200010825",
)
cursor = db.cursor()

In [3]:
cursor.execute("show databases;")
print(cursor.fetchall())
cursor.execute("show tables;")
print(cursor.fetchall())

(('information_schema',), ('stu2200010825',))
()

In [4]:
# 此处为了更好的演示，先drop表
cursor.execute("drop table if exists students;")

# 建表
sql = 'CREATE TABLE IF NOT EXISTS students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (id))'
cursor.execute(sql)

0

In [5]:
cursor.execute("show tables;")
print(cursor.fetchall())

(('students',),)

In [6]:
id = '20120001'
user = 'Bob'
age = 20
sql = 'INSERT INTO students(id, name, age) values(%s, %s, %s)'
try:
    cursor.execute(sql, (id, user, age))
    db.commit()
except:
    db.rollback()

In [7]:
sql = 'SELECT * FROM students'

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    print('Results:', results)
    print('Results Type:', type(results))
    for row in results:
        print(row)
except:
    print('Error')

Results: (('20120001', 'Bob', 20),)
Results Type: <class 'tuple'>
('20120001', 'Bob', 20)

In [8]:
sql = 'UPDATE students SET age = %s WHERE name = %s'
try:
   cursor.execute(sql, (25, 'Bob'))
   db.commit()
except:
   db.rollback()

In [9]:
sql = 'SELECT * FROM students'

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    print('Results:', results)
    print('Results Type:', type(results))
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results: (('20120001', 'Bob', 25),)
Results Type: <class 'tuple'>
('20120001', 'Bob', 25)

In [10]:
table = 'students'
condition = 'age > 20'

sql = 'DELETE FROM  {table} WHERE {condition}'.format(table=table, condition=condition)
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

In [11]:
sql = 'SELECT * FROM students'

try:
    cursor.execute(sql)
    results = cursor.fetchall()
    print('Results:', results)
    print('Results Type:', type(results))
    for row in results:
        print(row)
except Exception as e:
    print(e)

Results: ()
Results Type: <class 'tuple'>

In [12]:
db.close()